<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>

    <!-- Link para visualizar todas as plantas -->
    <div>
        <a href="/plants/all">Ver todas as plantas</a>
    </div>

    <!-- Formulário para pesquisar por categoria -->
    <div>
        <h2>Pesquisar por Categoria</h2>
        <form action="/plants/category" method="GET">
            <label for="category">Escolha uma categoria:</label>
            <select id="category" name="category">
                <option value="flores">Flores</option>
                <option value="plantas">Plantas</option>
                <option value="suculentas">Suculentas</option>
                <option value="arvores">Árvores</option>
            </select>
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div>
        <h2>Pesquisar por Valor Máximo</h2>
        <form action="/plants/price" method="GET">
                <input type="number" name="max" placeholder="Preço">

            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div>
        <h2>Veja as nossos incriveis produtos de mari</h2>
            <a href="/plants/mari">
                <button type="submit">Pesquisar</button>
            </a>
    </div>
</body>
</html>


