<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
    <script>
        async function fetchPlantData(plantName) {
            try {
                const response = await fetch(`/plant/name/${plantName}`);
                if (!response.ok) {
                    throw new Error('Failed to fetch plant data');
                }
                const data = await response.json();
                const plant = data.Plant; // Agora acessa a propriedade 'Plant'

            if (quantity > 0) {
                // Redireciona para a rota addplant com o ID da planta e a quantidade
                window.location.href = `/addplant/${plantId}/${quantity}/${plantPrice}`;
                alert("Planta adicionada ao carrinho!");

                let result = confirm("Deseja continuar comprando?");
                if (result){
                    window.location.href = "/plants/all";
                } else {
                    let paymentMethod = prompt("Digite o método de pagamento: ");

                    window.location.href = `/purchase?payment=${paymentMethod}`;
                }
            } else {
            
                alert("Por favor, insira uma quantidade válida.");

            }
        }catch (error) {
            console.error(error);
            alert('Erro ao buscar dados da planta');
        }}
        

        document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const plantName = urlParams.get('name');
            if (plantName) {
                fetchPlantData(plantName);
            }
        });
    </script>
</head>
<body>
    <h1>Plant Details</h1>
    
    <h2 id="plant-name"></h2>
    <p><strong>Nome Científico:</strong> <span id="scientific-name"></span></p>
    <p><strong>Descrição:</strong> <span id="description"></span></p>
    <p><strong>Categoria:</strong> <span id="category"></span></p>
    <p><strong>Preço:</strong> <span id="price"></span></p>
    <p><strong>Quantidade em Estoque:</strong> <span id="stock-quantity"></span></p>
    <p><strong>Imagem:</strong> <img id="image" alt="Plant Image" width="200"></p>
    <p><strong>Local de Origem:</strong> <span id="origin-location"></span></p>
    
    <a href="/">Voltar para a Página Inicial</a>
</body>
</html>

