<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        

    </style>
    <script>
    $(".cart-icon").click(function goToCart(){

    })       </script>
</head>
<body>
    <h1>{{.Title}}</h1>
    <ul>
    {{range .Plants}}
        <li>
            <h2>{{.Name}}</h2>
            <p><strong>Nome Científico:</strong> {{.ScientificName}}</p>
            <p><strong>Categoria:</strong> {{.Category}}</p>
            <p><strong>Preço:</strong> R$ {{.Price}}</p>
            <p><strong>URL da Imagem:</strong> <img src="{{.ImageURL}}" alt="{{.Name}}" width="200"></p>
            <a href="/plant/name/{{.Name}}">Ver Detalhes</a>
        </li>
    {{else}}
        <li>No plants found.</li>
    {{end}}
    </ul>
    <div class="cart-icon" onclick="goToCart()"></div>
       <a href="cart.html"><img src="https://img.icons8.com/ios-filled/50/000000/shopping-cart.png" alt="Carrinho">
       </a>     </div>
    <a href="index.html">Voltar para a Página Inicial</a>
    <script>
        // Função para adicionar um item ao carrinho
        function addToCart(name, price) {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            let item = { name: name, price: parseFloat(price) };
            cart.push(item);
            localStorage.setItem('cart', JSON.stringify(cart));
            alert(name + " foi adicionado ao carrinho!");
        }
    </script>
</body>
</html>

